<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>ログイン</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-danger" role="alert" th:if="${error}">
        <ul style="margin-bottom: 0;">
            <li>ユーザ名またはパスワードが間違っています.</li>
        </ul>
    </div>

    <form th:action="@{/login}" th:method="POST" th:object="${authForm}">
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" id="username" class="form-control" name="username" th:field="*{username}"
                       placeholder="name"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="password" id="password" class="form-control" name="password" placeholder="password"/>
            </div>
        </div>
        <button class="btn btn-outline-primary">ログインする</button>
    </form>
</div>
</body>
</html>