<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title th:text="${guildName}">ギルド</title>
</head>

<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col">
            <span>セブンス・リバース &gt;</span>
            <div class="title-guild">
                <span th:text="${guildName}"></span>
            </div>
        </div>
    </div>

    <section class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/guilds/1/articles}">
                            <i class="fa fa-bookmark-o"></i>
                            Wiki
                        </a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <span th:text="${guildName}"></span>だけで共有する攻略情報まとめ
                    </h6>
                </div>
            </div>
        </div>
        <!--
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">
                            <i class="fa fa-camera"></i>
                            Photo
                        </a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <span th:text="${guildName}"></span>だけで共有する写真
                    </h6>
                </div>
            </div>
        </div>
        -->
    </section>
</div>
</body>

</html>