<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">

    <script th:src="@{/js/jquery-3.2.1.min.js}" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/popper.min.js}" src="../../static/js/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>

    <script>
        var HUB = HUB || {};
    </script>
    <script th:src="@{/js/main.js}" src="../../static/js/main.js"></script>

    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">Guild Hub</title>
</head>
<body>
<div layout:replace="layout/header::header"></div>

<div class="container">
    <div layout:fragment="content"></div>
</div>

<div layout:replace="layout/footer::footer"></div>
</body>
</html>