<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="form-group row">
    <label for="subCategory" class="col-sm-2 col-form-label">
        <span th:text="${category.name}"></span>
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </label>
    <div class="col-sm-10">
        <select name="subCategory" id="subCategory" class="form-control" th:field="*{subCategoryId}"
                th:errorclass="error">
            <option value="">未選択</option>
            <option th:each="subCategory : ${category.subCategories}"
                    th:value="${subCategory.id}" th:text="${subCategory.name}">
                カテゴリー名
            </option>
        </select>
        <ul th:if="${#fields.hasErrors('subCategoryId')}" class="error-detail">
            <li th:each="error : ${#fields.errors('subCategoryId')}" th:text="${error}"></li>
        </ul>
    </div>
    <input type="hidden" th:field="*{categoryId}"/>
</div>

<div class="form-group row">
    <div class="col-sm-10">
        <input type="text" id="title" class="form-control" name="title" th:field="*{title}" th:errorclass="error"
               placeholder="タイトル">
        <ul th:if="${#fields.hasErrors('title')}" class="error-detail">
            <li th:each="error : ${#fields.errors('title')}" th:text="${error}"></li>
        </ul>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-10">
        <textarea name="content" id="content" class="form-control" cols="30" rows="10" placeholder="記事本文"
                  th:field="*{content}" th:errorclass="error"></textarea>
        <ul th:if="${#fields.hasErrors('content')}" class="error-detail">
            <li th:each="error : ${#fields.errors('content')}" th:text="${error}"></li>
        </ul>
    </div>
</div>
</body>
</html>
