<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <style>
        .list-primary-category,
        .list-secondary-category,
        .list-article {
            list-style: none;
            padding: 0;
        }

        .item-article {
            margin-top: 1rem;
        }

        .list-article {
            margin-bottom: 1rem;
        }

        .sample {
            height: 175px;
            background: #4d90da;
            border-radius: 5px 5px 0 0;
        }
    </style>
    <title>wiki</title>
</head>
<body>
<div layout:fragment="content">

    <ul class="list-primary-category">
        <li th:each="primaryCategory : ${model.categories}">
            <div class="card">

                <div class="sample">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-light dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="float: right; margin: .5rem;">
                            <i class="fa fa-cog"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a th:href="@{/guilds/{id}/articles/input(id=${guildId})}"
                               class="dropdown-item">
                                <i class="fa fa-plus"></i>記事を書く</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title" th:text="${primaryCategory.name}"
                        style="margin-bottom: 0">
                        primary category
                    </h4>
                </div>
            </div>
            <ul th:if="!${#lists.isEmpty(primaryCategory.secondaryCategories)}"
                class="list-secondary-category">
                <li th:each="secondaryCategory : ${primaryCategory.secondaryCategories}">

                    <ul th:if="!${#lists.isEmpty(secondaryCategory.articles)}" class="list-article">
                        <li th:each="article : ${secondaryCategory.articles}" class="item-article">
                            <div class="card">
                                <div class="card-body" style="padding: .25rem 1rem">
                                    <span class="badge badge-pill badge-secondary"
                                          th:text="${secondaryCategory.name}">
                                        secondary category
                                    </span>
                                    <h4 class="card-title" th:text="${article.title}">
                                        article title
                                    </h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div th:if="${#lists.isEmpty(primaryCategory.secondaryCategories)}">
                さあ、記事を書いて共有してみましょう！
            </div>
        </li>
    </ul>
</div>
</body>
</html>