<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>記事の新規作成</title>

    <link rel="stylesheet" th:href="@{/css/simplemde.min.css}" href="../../static/css/simplemde.min.css">
    <script th:src="@{/js/simplemde.min.js}" src="../../static/js/simplemde.min.js"></script>
    <script>
        $(function () {
            new SimpleMDE({
                element: $("#content")[0],
                autoDownloadFontAwesome: false,
                hideIcons: HUB.simplemde.config.hideIcons,
                showIcons: HUB.simplemde.config.showIcons
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/guilds/{id}/articles/create(id=${guildId})}" th:method="POST" th:object="${articleForm}">
        <div th:include="article/_form"></div>

        <button class="btn btn-primary" type="submit">投稿する</button>
    </form>
</div>
</body>
</html>