<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${model.article.title}"></title>

    <script>
        $(function () {
            var article = $('article');

            article.find('table').addClass('table table-bordered table-sm');
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <nav class="nav">
        <a class="nav-link"
           th:href="@{/guilds/{id}/articles/{articleId}/edit(id=${guildId}, articleId=${articleId})}">編集</a>
    </nav>

    <h2 th:text="${model.article.title}"></h2>

    <article th:utext="${model.article.htmlContent}"></article>
</div>
</body>
</html>