.list-primary-category,
.list-secondary-category,
.list-article {
    list-style: none;
    padding: 0;
}

.item-article {
    margin-top: .5rem;
}

.list-secondary-category {
    margin-bottom: 1rem;
}

.card-header.primary-category {
    background: lightslategrey;
    height: 100px;
    padding: 0;
}

.item-article .card-title {
    margin: .5rem 0;
}

.item-article .card-title > a {
    color: dimgray;
    font-size: 1rem;
    vertical-align: middle;
}

.box-article-empty {
    background: #f8f9ff;
    margin-top: .5rem;
    padding: .6rem;
    border-radius: 5px;
}