html {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

select.error,
input.error,
textarea.error {
    border: 1px solid #f5c6cb;
}

ul.error-detail {
    margin: 0;
    color: #721c24;
}

nav.navbar {
    margin-bottom: .5rem;
}

button.btn {
    cursor: pointer;
}

.title-guild {
    background: #f8f9fa;
    border-left: 3px solid lightgray;

    font-size: 1.5rem;
    height: 70px;
    letter-spacing: .2rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.cover,
.frontmost-side-menu {
    display: none;
    height: 100%;

    position: absolute;
    top: 55px;
}

.cover {
    background: rgba(0, 0, 0, .3);
    left: 0;
    width: 100%;
    z-index: 1;
}
