<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>TOP</title>
</head>

<body>
<div layout:fragment="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span>セブンス・リバース &gt;</span>
                <div class="title-guild">
                    FFL
                </div>
            </div>
        </div>
    </div>

    <section class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Wiki</a>
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            FFLだけで共有する攻略情報まとめ
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Photo</a>
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            FFLだけで共有する写真
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

</html>